.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200px; /* Adjust width as needed */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  

.footer .nav-link {
  color: #fff;
}

.footer .nav-link:hover {
  text-decoration: underline;
}

/* Ensures footer stays at the bottom of the page */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Height of the footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
